<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.MarkIt" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="MarkIt.Android">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAYew9B0eetnc5Xo0cyciZF2uuzTR5hZq0" />
  </application>
</manifest>